:root{
    --first-tone-purple: #652AB8;
    --second-tone-purple: #27114B;
    --third-tone-purple: #1A0B2E;
    --dark-purple: #11071F;
    --linkedin-color: #0b86ca;
    --whatsapp-color: #25d366;
}
.bg-dark-purple{
    background-color: var(--dark-purple) !important;
}
.bg-light-purple{
    background-color: var(--first-tone-purple) !important;
}
.color-light-purple{
    color: var(--first-tone-purple);
}
.animated-bg{
    position: absolute;
    display: block;
    top: 0; bottom: 0;
    left: 0; right: 0;
    pointer-events: none;
    z-index: 9;
}
.main-element{
    min-height: 70vh !important;
    display: grid !important;
    place-items: center !important;
}
#hamburger-icon-control{
    position: absolute;
    visibility: hidden;
}
.hamburger-icon{
    position: fixed;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 10px;
    cursor: pointer;
}
.slash{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 3px;
    overflow: visible;
    background-color: #ffffffba;
    transition: 1.5s ease;
}
.slash::before, .slash::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ffffffba;
    transition: 1.5s ease;
}
.slash::before{bottom: 8px;}
.slash::after{top: 8px;}

.hamburger-icon:hover .slash,
.hamburger-icon:hover .slash::before,
.hamburger-icon:hover .slash::after
{
    background-color: #ffffff;
}
#hamburger-icon-control:checked ~ .slash::before{
    bottom: 0;
    transform: rotate(90deg);
}
#hamburger-icon-control:checked ~ .slash::after{
    top: 0;
    transform: rotate(90deg);
}
#hamburger-icon-control:checked ~ .slash{
    transform: rotate(45deg);
}

header{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 5px;
    padding-left: 15px;
    width: 100%;
    overflow: visible;
    opacity: 1;
    z-index: 999999;
    background-color: #1e0d39;
    transition: opacity .5s, all 1s ease-out;
}
.disable-scrolling {
    overflow: hidden;
}  
nav{
    position: absolute;
    left: 50%;
    top: 50%;
    display: none;
    transform: translate(-50%, -50%);
    transition: .5s ease;
}
.brand{
    font-size: 30px;
    color:#fff;
}
ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
    padding: 0;
    text-align: center;
    list-style: none;
}
.nav-link{
    height: 38px;
}
span.links{
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    color: #ffffffa7;
    text-transform: uppercase;
    cursor: pointer;
    transition: .5s ease;
}
.links[aria-current="page"],
.links:hover{
    color: #fff;
}

.language{
    position: absolute;
    bottom: 10vh;
    left: 50%;
    display: none;
    align-items: center;
    gap: 20px;
    transform: translate(-50%);
}
.language button{
    color: #828282;
    border: none;
    background-color: transparent;
    transition: .5s ease;
}

.language button.active{
    color: #ffffff;
}
button#portuguese{
    position: relative;
}
button#portuguese::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -12.4px;
    transform: translate(-50%, -50%);
    width: 1.5px;
    height: 80%;
    background-color: #ffffff7a;
}
button#portuguese:hover,
button#english:hover{
    color: #ffffffaa;
}

main{
    position: relative;
    padding-top: 10em;
    padding-bottom: 5em;
    overflow: hidden;
}

.img-home{
    position: relative;
    width: 48vw;
    margin-bottom: 2em;
    overflow: visible;
}
.img-home img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 45vw;
    max-height: 348px;
    z-index: 10;
}
main .row{
    width: 96vw;
    max-width: 1100px;
    flex-wrap: nowrap;   
}
.first-content-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-content-main{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.my-name, .my-last-name{
    font-size: 5em;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1.2px;
    color: var(--first-tone-purple);
}
.career{
    font-size: 24px;
    font-weight: 500;
    color: #ababab;
    z-index: 999;
}
span.buttons{
    display: flex;
    align-items: center;
    gap: 1.5em;
    margin-top: 4em;
}

button.download-cv-btn{
    width: 161px;
    height:46px;
    border: none;
    border-radius: 5px;
    scale: 1;
    color: #fff;
    background-color: var(--first-tone-purple);
    z-index: 999;
    transition: .8s ease;
}
.download-cv-btn:hover{
    scale: 1.05;
    background-color: #3d0d80;
}
button.linkedin-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 161px;
    height:46px;
    border: 1px solid var(--linkedin-color);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    background-color: transparent;
    z-index: 999;
    transition: 1s all ease;
}
button.linkedin-btn span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 20px;
}
button.linkedin-btn img{
    position: absolute;
    left: 10px;
    height: 25px;
    z-index:999;
    transition: 1s all ease;
}
.linkedin-btn::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 150%;
    height: 0;
    z-index: 5;
    background-color: var(--linkedin-color);
    transition: 1s all ease;
}
.linkedin-btn:hover::before{
    height:100%
}
.linkedin-btn::after{
    content: 'Open';
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 18px;
    color: white;
    opacity: 0;
    z-index: 7;
    transition: 2s all ease;
}
.linkedin-btn:hover::after{
    opacity: 1;
}
.linkedin-name{
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: white;
    z-index: -1;
}

span.linkedin-brand{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#linkedin-home{
    color: var(--linkedin-color);
}
#about{
    display: grid;
    place-items: center;
    padding-top: 5em;
    padding-bottom: 5em;
    z-index: 10;
}
.white-background{
    display: grid;
    place-items: center;
    width: 328px;
    height: 328px;
    max-width: 75vw;
    max-height: 75vw;
    border: 1px solid #4F4F4F;
    border-radius: 50%;
    background: #FFF;
    z-index: 9;
}
.about-me-text{
    max-width: 95vw;
    margin: auto;
    overflow: auto;
}
.title-about-me{
    padding-bottom: .2em;
    font-size: 3em;
    font-weight: 750;
    text-transform: uppercase;
    color: #1E0D39;
}
.paragraph-about-me{
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    overflow: auto;
}
#about .row{
    gap: 8em;
    padding-top: 1em;
    min-height: 75vh;
}

#myskills{
    position: relative;
    padding-top: 5em;
    padding-bottom: 4em;
}
#myskills h1{
    font-size: 2.8em;
    font-weight: 750;
    z-index: 9;
    color: var(--first-tone-purple);
}
#myskills .row{
    max-width: 80vw;
    margin: auto;
    margin-top: 2em;
}
#myskills div.col-4{
    display: flex;
    justify-content: center;
}
.skill-case{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;    
    height: 75px;
    min-width: 75px;
    min-height: 75px;
    border-radius: 50%;
    background-color:  var(--first-tone-purple);
    scale: 1;
    transition: .8s ease;
}
.skill-case:hover{
    scale: 1.1;
    background-color: var(--first-tone-purple);
}
.skill-case img{
    height: 60%;
}  
.tooltip-title{
    position: absolute;
    top: -30px;
    padding: 2px 8.5px;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    opacity: 0;
    background-color: var(--dark-purple);
    border: 1.5px solid var(--first-tone-purple);
    border-radius: 5px;
    transition: .5s ease-out;
}
.skill-case:hover .tooltip-title{
    opacity: 1;
}

.swiper-button-prev::after,
.swiper-button-next::after{
    content: '';
}
#project{
    padding-top: 5em;
    padding-bottom: 9em;
}
#project h1{
    padding-bottom: 1em;
    font-size: 3em;
    font-weight: 750;
    color: var(--dark-purple);
    z-index: 9;
}
#project .row{
    max-width: 1400px;
}
.carousel-container{
    padding-bottom: 1em;
    max-width: 500px;
}
.carousel-container .bi{
    font-size: 1.5em;
    cursor: pointer;
    color: #fff;
}
.site-title{
    font-size: 2.6em;
    font-weight: 500;
    color: var(--dark-purple);
}
.site-description{
    text-align: justify;
    font-size: 16px;
    font-weight: 300;
    color: #d0cece;
}
.carousel-text-block{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
}

.project-buttons{
    margin-top: 50px;
}

.site-link, .github-link{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 40px;
    text-decoration: none;
    color: #d0cecedc;
    border-radius: 5px;
    overflow: hidden;
    transition: all .8s ease;
}
.site-link{
    box-shadow: 0 0 0 0 var(--third-tone-purple);
    background-color: var(--third-tone-purple);
}
.github-link{
    border: 1px solid var(--dark-purple);
    background-color: transparent;
}
.site-link .visit-link,
.github-link:hover .visit-link{
    color: var(--first-tone-purple);
}
.github-link .visit-link{
    color: var(--third-tone-purple);
}
.visit-link{
    z-index: 2;
    transition: .5s ease;
}
.github-link::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    width: 100%;
    height: 0;
    background-color: var(--third-tone-purple);
    z-index: 1;
    transition: .8s ease;
}
.github-link:hover::before{
    height: 100%;
} 
.site-link:hover{
    box-shadow: 0 0 0 2px var(--third-tone-purple);
    
}

#contact{
    padding-top: 5em;
    padding-bottom: 5em;
}
#contact h2{
    font-size: 2.8em;
    font-weight: 750;
    text-transform: uppercase;
    color: var(--first-tone-purple);
    z-index: 9;
}
#contact .row{
    gap: 8em;
    padding-top: 1em;
    min-height: 75vh;
}
.contact-section-img.white-background{
    background-color: #f4f4f4;
}
.contact-section-img{
    position: relative;
}
.contact-section-img img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 315px;
    padding-bottom: 30px;
}
.contact-text{
    max-width: 95vw;
    margin: auto;
    overflow: auto;
}
.paragraph-contact{
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
    color: #fff;
    overflow: auto;
}

.contact-link-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding-top: 2em;
}

.btn-social-media{
    position: relative;
    display: flex;
    align-items: center;
    width: 161px;
    height:41.6px;
    margin: auto;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
    transition: 1s all ease;
}
.btn-social-media img{
    position: absolute;
    left: 10px;
    height: 25px;
    z-index: 999;
}
.btn-social-media span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 20px;
}

/* linkedin */
.social-media-linkedin::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 150%;
    height: 0;
    background-color: var(--linkedin-color);
    z-index: 5;
    transition: 1s all ease;
}
.social-media-linkedin::after{
    content: 'Jhefferson Muzy';
    font-size: 14px;
    white-space: nowrap;
    position: absolute;
    left: 48%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 20px;
    font-weight: 200;
    color: white;
    opacity: 0;
    z-index: 7;
    transition: 1.2s all ease;
}
.social-media-linkedin:hover::before{
    height:100%
}
.social-media-linkedin:hover::after{
    opacity: 1;
}

.social-media-linkedin{
    color: var(--linkedin-color);
}

/* github */
.social-media-github::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    border-radius: 5px;
    background-color: #000000;
    z-index: 1;
    transition: 1s all ease;
}
.social-media-github::after{
    content: 'Jheff8';
    font-size: 14px;
    font-weight: 200;
    white-space: nowrap;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 20px;
    color: white;
    opacity: 0;
    z-index: 5;
    transition: 1.2s all ease;
}
.social-media-github:hover::before{
    height: 100%;
}
.social-media-github:hover:after{
    opacity: 1;
}
.social-media-github img{
    z-index: 999;
}
.social-media-github{
    color: #ffffff8d;   
}
div.white-board-github{
    position: absolute;
    left: 10px;
    width: 22px;
    height: 23px;
    margin-left: 1px;
    border-radius: 50%;
    background-color: white;
    z-index: 6;
}

/* wpp */
.social-media-whatsapp::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: var(--whatsapp-color);
    z-index: 1;
    transition: 1s all ease;
}
.social-media-whatsapp::after{
    content: '(21) 98166-3374';
    font-size: 14px;
    font-weight: 200;
    white-space: nowrap;
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    opacity: 0;
    z-index: 2;
    transition: 1s all ease;
} 
.social-media-whatsapp:hover::before{
    height: 100%;
}
.social-media-whatsapp:hover::after{
    opacity: 1;
}
.social-media-whatsapp{
    color: var(--whatsapp-color);
}

@media (hover: none) {
    .social-media-whatsapp::after,
    .social-media-github::after,
    .social-media-linkedin::after{
        opacity: 1;
    }
    .social-media-whatsapp::before,
    .social-media-github::before,
    .social-media-linkedin::before{
        height: 100%;
    }
}

@media (orientation: landscape){
    main {
        padding-top: 8em;
    }
}
@media (max-width: 380px) {
    main{
        padding-top: 8em;
    }
    .text-content-main{
        gap: 35px;
    }
    .my-last-name, .my-name{
        font-size: 3.5em;
        line-height: 3px;
    }
    .career{
        font-size: 18px;
    }
    span.buttons{
        gap: .8em;
        margin-top: 3.5em;
    }
    .download-cv-btn, .linkedin-btn{
        max-width: 130px;
    }
    #about{
        padding-top: 3em;
        padding-bottom: 3em ;
    }
    .project-buttons{
        flex-direction: column;
        align-items: center;
    }
}
@media (min-width:380.1px) and (max-width: 440px) {
    .my-last-name, .my-name{
        font-size: 4.5em;
        line-height: 10px;
    }
    .career{
        font-size: 22px;
    }
    .download-cv-btn, .linkedin-btn{
        max-width: 140px;
    }   
}
@media (max-width: 768px) {
    main .row{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (min-width: 768px){
    #about .row, #contact .row{
        gap: 0;
    }
    .link-visit-site{
        margin-top: .5em;
    }
    .main-element{
        min-height: 90vh !important;
    }
    header{
        flex-direction: row;
        align-items: center;
        justify-content: unset;
    }
    nav{
        position: relative;
        left: 0;
        top: 0;
        transform: translate(0,0);
    }
    .header-clickable-content{
        position: fixed;
        right: 1em;
        align-items: center; 
        gap: 30px;
    }
    ul{
        flex-direction: row;
        gap: 25px;
    }
    .nav-link{
        height: 10px;
        min-width: fit-content;
    }
    span.links{
        font-size: 18px;
    }
    .language{
        position: relative;
        left: 0;
        bottom: 0;
        transform: translate(0,0);
    }
}

